
@import url("https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Bebas+Neue&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

* {
    margin: 0;
    padding: 0;
    font-family: Impact , Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 17.5px;
    color: #42200b;
    box-sizing: border-box;
}

html, body {
    overflow-x: hidden;
    scroll-behavior: smooth;
}

.logo-img {
    width: 110px;
    height: 90px;
    object-fit: cover;
}

header {
    background-image: url('../src/imgs/header_bg.png');
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    margin-bottom: 8rem;
    height: 100vh;
}

header nav .container {
    display: flex;
    justify-content: space-around;
}

header nav ul {
    display: flex;
    list-style-type: none;
}

header nav ul li {
    padding: 0 30px;
}

header nav ul li a{
    text-decoration: none;
    color: #42200b;
}

header nav ul li a:hover {
    color: #e11c1c;
    transition: .5s;
}

header nav ul .dropdown a:hover {
    color: #e11c1c;
}

header nav ul .dropdown ul li a {
    font-size: 15px;
    color: #222;
}

header nav ul .galeria-icon a i {
    font-size: 30px;
}

header nav ul .galeria-icon a i:hover {
    color: #e11c1c;
    transition: .5s;
}

.header-content-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 3rem;
}

.header-content-container .f-section {
    display: flex;
    flex-wrap: wrap;
    align-items: end;
    justify-content: left;
    width: 40%;
    margin-top: 4rem;
}

.header-content-container .f-section div:nth-child(1) {
    width: 450px;
    text-align: center;
}

.header-content-container .f-section div:nth-child(1) h2 {
    max-width: 400px;
    margin-inline: auto;
    margin-bottom: 2rem;
    padding: 1rem 2rem;
    font-size: 1.75rem;
    font-weight: 400;
    font-family: 'Bebas Neue', sans-serif;
    border: 2px dashed #42200b;
    text-align: center;
}

.header-content-container .f-section div:nth-child(2) {
    width: 450px;
    margin-left: 25px;
}

.header-content-container .f-section div:nth-child(2) h1, .header-content-container .f-section div:nth-child(2) h1 span {
    font-size: 4.5rem;
    font-family: 'Alfa Slab One', sans-serif;
    font-weight: 500;
    line-height: 3.5rem;
    text-align: left;
    text-shadow: 4px 4px 2px #fff;
}

.header-content-container .f-section div:nth-child(2) h1 span {
    font-size: 3rem;
}

.header-content-container .s-section {
    display: flex;
    align-items: center;
    justify-content: right;
    padding: 12px;
    width: 50%;
}

.header-content-container .s-section div {
    background: transparent;
}

.header-content-container .s-section div img {
    width: 35em;
    height: auto;
    filter: drop-shadow(2px 2px 10px rgba(0, 0, 0, 0.5));
}

/* ::::::: FIRST SECTION :::::::: */
.container-section {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 75%;
    margin-bottom: 5rem;
}

.container-section .banner-img, .banner-img1, .banner-img2 {
    padding: 1rem;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 1rem;
    color: #fff;
    margin: .3rem;
}

.container-section .banner-img h2, .banner-img1 h2, .banner-img2 h2, {
    font-family: 'Bebas Neue',sans-serif;
}

.container-section .banner-img h2:nth-child(1), .banner-img1 h2:nth-child(1), .banner-img2 h2:nth-child(1) {
    font-size: 1.5rem;
    font-weight: 500;
}

.banner-img {
    background-image: url('../src/imgs/chicken1.jpg');
    width: 45%;
    height: 422px;
}

.container-section .bannerimg {
    width: 45%;
}

.banner-img1 {
    background-image: url('../src/imgs/chicken2.jpg');
    height: 210px;
}

.banner-img2 {
    background-image: url('../src/imgs/chicken3.jpg');
    height: 210px;
}


.header-content-container .contact-sectionleft {
    display: flex;
    align-items: Left;
    justify-content: right;
    padding: 12px;
    width: 40%;
}

.header-content-container .contact-sectionleft div {
    background: transparent;
}

.header-content-container .Contact-sectionleft div img {
    width: 30em;
    height: auto;
    filter: drop-shadow(2px 2px 10px rgba(0, 0, 0, 0.5));
}

.header-content-container .contact-sectionright {
    display: flex;
    align-items: right;
    justify-content: right;
    padding: 12px;
    width: 40%;
}

.header-content-container .contact-sectionright div {
    background: transparent;
}

.header-content-container .Contact-sectionright div img {
    width: 30em;
    height: auto;
    filter: drop-shadow(2px 2px 10px rgba(0, 0, 0, 0.5));
}